*.class
**/target
dist
**/logs
*~
target
target-ide
.classpath
.project
.settings
*.iml
maven-metadata-local.xml
.idea
xtend-gen
yang-gen-config
yang-gen-sal
classes
.DS_STORE
.metadata
.gitignore
.gitreview
output
release.v